{:kotoba.app/id "cloud.itonami.isic-8421", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid7r6iegsiqbyux5wtpqr2c2pcb2jr6joccskazlftxlafecakq2q", :kotoba.app/embed-url "ipfs://bafkreid7r6iegsiqbyux5wtpqr2c2pcb2jr6joccskazlftxlafecakq2q", :published {:archive "https://kotobase.net/ipfs/bafkreid7r6iegsiqbyux5wtpqr2c2pcb2jr6joccskazlftxlafecakq2q", :size 72127, :put-status 201, :get-status 200, :at "2026-08-15T13:46:31.099Z"}}
